.container {
  width: 3000px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  columns: 3;
}
img {
  margin: auto;
  float: none;
}
p {
  text-align: center;
}
